doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/png', sizes='40x40', href='/images/favicon.png')
    title #{title} | KGL
    //- Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css', rel='stylesheet')
    //- Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap', rel='stylesheet')
    //- BootStrap
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')
    //- MDB
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css', rel='stylesheet')
    //- Personal CSS
    link(rel='stylesheet', href='/style.css')
body
    //- Main Navigation
    header
        //- Navbar
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
            //- Container wrapper
            .container
                //- Navbar brand
                a.navbar-brand.mt-2.mt-lg-0(href='')
                    img(src='/images/KGLogo.svg', alt='KGL Logo', loading='lazy', height='20')
                //- Left links
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                    - const route = user.role.toLowerCase()
                        a.nav-link(href=`/${route}`) Dashboard
                //- Collapsible wrapper
                //- Right elements
                .d-flex.align-items-center

                    a.dropdown-item(href='/logout') Logout

                    //- Right elements
                    //- Container wrapper
                    //- Navbar
                    //- Main Navigation
                    //- Main layout
    main
        .container-lg
            block content
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p', crossorigin='anonymous')

footer
    .text-center.text-white.p-2.position-fixed.bottom-0.end-0(style='background-color: rgba(0, 0, 0, 0.4);') KGL Ltd &copy; 2022 | Gertrude Nabasirye